.round_box {
  border-radius: 20px;z
}

i {
  display: inline-block;
}

@font-face { font-family: aldhabi; src: url('aldhabi.otf'); }

.title {
  font-family: aldhabi;
}
/* Increase the size of input fields */
#collateral, #jumps {
    width: 300px; /* or any desired width */
}

/* Increase the font size for input field labels */
#collateral_label, #jumps_label {
    font-size: 16px; /* or any desired font size */
}
